

*@font-face {
    font-family: Robolight;
    src: url(Roboto/Roboto-Light.ttf);
    
}

@font-face {
    font-family: Roboitalic;
    src: url(Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Black.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


ul {
    list-style-type: none;
}



h1 {
    
   
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 400px;
}

.logo {
    @font-face {
        font-family: Roboto-Black;
        src: url(Roboto-Black);
    }
}

.header img {
    width: 400px;
    height: 188px;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;

}
.container {
    width: 1100px;
    margin: 0 auto;
}

.navbar {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 50px;
}

.nav a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .nav {
    display: flex;
    gap: 20px;
}

.header {
    background-color:#1f2937 ;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}



button {
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    
}

.header button {
    margin-top: 5px;
}

.subscribe button {
    border-color:#F9FAF8 ;

}

.main {
    height: 400px;
}
.main .main-header {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 70px;
    
}
.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



.image .img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.img {
    margin: 20px 0 20px 0;
}

.image p {
    width: 150px;
}

.body {
   background-color: #e5e7eb;
   font-family: Roboitalic;
   font-size: 36px;
   height: 400px;

}
.body .container {
   /*display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e5e7eb;
   font-family: Roboitalic;
   font-size: 36px;
   height: 400px;
   margin: 0 auto;*/
   
}

.container .quote {
    padding: 50px 5px 15px 5px;
    
}

.container .signed {
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
    font-size: 18px;
    
}

.subscribe {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;

}

.subscribe .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    height: 90px;
    
    
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70px;
    background-color: #1f2937;
    color: #F9FAF8;
}

